body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}