.feature {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.feature__list {
  // width: 270px;
  // margin: 0 auto;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

// .feature__list:nth-last-child(-n + 4) {
//   // margin-bottom: 0px;
// }

.feature__box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__icon {
  height: 70px;
  width: 70px;
}

.feature__title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature__text {
  line-height: 1.71;
}
