.portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

/* --------Button--------*/

.portfolio__button {
  display: block;
  padding: 6px 22px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__button.active {
  font-family: inherit;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
